{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FitSync - Sign Up</title>
    <meta charset="utf-8">
      {% include "navbar/navbar_head.html" %}
    <link rel="stylesheet" type="text/css" href={% static "css/signup.css" %}>
  </head>
  <body>
    {% include "navbar/navbar.html" %}
    <div class="container" id="signupcontainer">
      <h2>Sign Up</h2>
      <form method="POST" action="{% url "account_signup" %}" id="signupFormContainer">
        {% csrf_token %}
        {% if form %}
          {{ form.username }}
        {% endif %}
        <div class="input-group">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input type="text" class="form-control" placeholder="Username" name="username" maxlength="150" required>  
        </div>
        <div>
          {% if form %}
            {{ form.password1}}
            {{ form.password2}}
          {% endif %}
          <input type="password" class="form-control" placeholder="Password" name="password1" autocomplete="new-password" required>
        </div>
        <div>
          <input type="password" class="form-control" placeholder="Re-Enter Password" name="password2" autocomplete="new-password" required="" id="id_password2">  
        </div>
        <p>Choose account type:</p>
        <div class="d-flex justify-content-between">
          <input type="radio" class="btn-check" name="is_trainer" id="success-outlined" value="False" autocomplete="off" checked>
          <label class="btn btn-outline-primary col-sm-5 me-1" for="success-outlined">Student Account</label>
          <input type="radio" class="btn-check" name="is_trainer" id="danger-outlined" value="True" autocomplete="off">
          <label class="btn btn-outline-primary flex-fill col-sm-5" for="danger-outlined">Trainer Account</label>
        </div>      
        <button type="submit" class="btn btn-primary" id="signupbutton">Sign Up</button>
      </form>
    </div>
  </body>
</html>