/*  DASHBOARD CONTENT   */

#dashboard {
    margin-top: 20px;
}


/*  DASHBOARD CALENDAR  */

.row {
    margin: 10px auto 10px auto;
    max-width: 1500px;
}

#dashboard_calendar {
    margin-bottom: 10px;
}

#dashboard_calendar_item {
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.2);
    display: flex;
}

#dashboard_calendar_item>h3 {
    padding: 10px 0 10px 0;
    margin: auto 10px auto auto;
    text-align: right;
}

#dashboard_calendar_item>h2 {
    margin: auto 0px auto 10px;
}


/*  DASHBOARD EARNING  */

#dashboard_earning>p {
    margin: 0 10px 5px 10px;
}


/*  FEATURES LIST   */

.dashboard_features {
    margin-bottom: 10px;
}


/*  FOOTER  */

.main_footer {}