html {
    height: 100%;
    background: linear-gradient(326deg, #ffffff, #ffffff, #e9fafa, #ffffff, #dfffff, #ffffff, #ffffff);
    background-size: 200% 100%;
    animation: gradient-animation 8s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body {
    background-color: transparent;
}

#signincontainer {
    background-color: white;
    margin-top: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.2);
    max-width: 500px;
}

@media screen and (max-width: 500px) {
    #signincontainer {
        max-width: 95%;
    }
}

h2 {
    padding: 10px 0 10px 0;
}

form>div {
    margin: 0 0 10px 0;
}

#signinbutton {
    width: 100%;
    margin: 0 0 10px 0;
}