.row {
    margin: 10px auto 10px auto;
    max-width: 1500px;
}

#text_heading {
    margin: 15px;
    text-align: center;
}

#add_lesson_form {
    padding-bottom: 20px;
}

form>* {
    margin: 10px 0px 10px 0px;
}

#form_error {
    color: red;
}

#create_lesson_btn {
    margin: 0px;
}

.dashboard_calendar_item {
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.2);
}

.dashboard_calendar_item>h4 {
    padding: 10px 0 10px 0;
    margin: auto 10px auto auto;
}

#calendarUsername {
    padding: 15px 0 0 15px;
    font-size: 1.5rem;
}

#calendarTimestamp {
    text-align: right;
    padding: 15px 15px 0 0;
    font-size: 2rem;
}

#calendarLessonExtra {
    text-align: left;
    padding: 0 0 0 15px;
}

#calendarEdit {
    text-align: right;
    padding: 0 15px 15px 0;
    display: flex;
}

#calendarEdit>button {
    margin: auto 0 0 auto;
}

#EmptyCalendar {
    text-align: center;
}