<nav class="navbar navbar-expand-sm bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href={% url "home" %}>FitSync</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav" id="navBarList">
                <a class="nav-link" href={% url "features" %}>Features</a>
                {% if user.is_authenticated %}
                    <a class="nav-link" href={% url "dashboard" %}>Dashboard</a>
                    <li class="nav-item">
                        <form method="post" action="{% url "account_logout" %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-light">Log Out</button>         
                        </form>
                    </li>
                {% else %}
                    <a class="nav-link" href={% url "account_login" %}>Log In</a>
                    <a class="btn btn-primary" id="signUpButton" type="button" href={% url "signup" %}>Sign Up</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>