{% extends "dashboard_navbar.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
      <title>FitSync</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type='text/css' href={% static "css/dashboard.css" %}>
    </head>
    <body>
        <div class="row">
            <div class="col-md-8">
              <div id="calendar_title">
                <h1>Calendar</h1>
                <a href={% url "schedule" %} class="btn btn-light">Add+</a>
              </div>
              {% if dashboard_error %}
                <p id="EmptyCalendar">{{dashboard_error}}</p>
              {% endif %}
                <div id="dashboard_calendar">
                  {% for q in query.all|slice:"0:3" %}
                  <a data-bs-toggle="collapse" href="#{{ q.id }}" role="button" aria-expanded="false" aria-controls="collapseExample" id="dashboard_calendar_item">
                    <img src="" alt="">
                    <h2 class="fs-3">@{{ q.student }}</h2>
                    <h3 class="fs-4">{{ q.timestamp }}</h3>
                  </a>
                  <div class="collapse calendar_dropdown" id="{{ q.id }}">
                    <div class="card card-body">
                      <p>Trainer: @{{q.student}}</p>
                      <p>Lesson Type: {{q.lesson_type}}</p>
                      <p>Time and date: {{q.timestamp}}</p>
                      <p>Price: {{q.price}}</p>
                      <p>Status: {{q.status}}</p>
                    </div>
                  </div>
                  {% endfor %}
                </div>
            </div>
            <div class="col-md-4">
                <h1>Earnings</h1>
                <div class="card" id="dashboard_earning">
                    <p class="fs-1 fw-bolder text-end">£3409.12</p>
                    <p class="fs-5">Gross Income</p>
                    <p class="fs-4 fw-bolder text-end">£{{total_price}}</p>
                    <p class="fs-5">Lesson's Booked</p>
                    <p class="fs-4 fw-bolder text-end">{{lesson_count}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="dashboard_features col-md-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Schedule Lesson</h5>
                  <p class="card-text">Please utilize our software to conveniently book a professional gym lesson. Our platform offers a seamless scheduling experience, ensuring you can easily secure a spot for your desired session.</p>
                  <a href={% url "schedule" %} class="btn btn-primary">Book Now</a>
                </div>
              </div>
            </div>
            <div class="dashboard_features col-md-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Program Workouts</h5>
                  <p class="card-text">Utilize our software to efficiently plan and organize workout routines. Our program offers comprehensive features to streamline the process, ensuring optimal results and maximizing productivity in your fitness regimen.</p>
                  <a href="#" class="btn btn-primary">Add Workout</a>
                </div>
              </div>
            </div>
            <div class="dashboard_features col-md-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Virtual Programming</h5>
                    <p class="card-text">Virtual Programming is a software solution designed to facilitate peer-to-peer training. This innovative platform enables seamless collaboration and knowledge sharing among individuals, regardless of geographical limitations.</p>
                    <a href="#" class="btn btn-primary">Create Now</a>
                  </div>
                </div>
              </div>
          </div>
        <footer class="main_footer bg-dark">

        </footer>
    </body>
</html>
{% endblock %}