{% extends "navbar.html" %}
{% load static %}
{% block content%}
<!DOCTYPE html>
<html lang="en">
  <head>
      <title>FitSync - Features</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type='text/css' href={% static "css/features.css" %}>
  </head>
  <body>
    <div id="heroImage">
      <div id="heroText">
        <h1>Features</h1>
      </div>
    </div>
    <div class="row shadow p-3 mb-5 bg-body rounded" id="calendar">
      <div class="col-lg-5">
        <h2>Calendar</h2>
        <p>
          Unleash the power of our gym software's Calendar feature! Effortlessly plan and manage your workouts, classes, and personal training sessions in one convenient place. Set goals, track progress, and receive timely reminders to stay on top of your fitness routine. With a user-friendly interface, our Calendar ensures you never miss a beat, making your gym experience more organized and efficient. Elevate your fitness journey and take control of your schedule with our innovative Calendar feature.</p>
      </div>
      <div class="col-lg-7" id="videodiv">
        <video loop autoplay muted>
          <source src={% static "video/calendar_video.mp4" %} type="video/mp4">
        </video>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7">
        <h2>Scheduling</h2>
        <img src="" alt="scheduling image">
      </div>
      <div class="col-lg-5">
        <p>
          Embark on a more organized and efficient fitness journey with our latest scheduling feature for the gym software. Our user-friendly interface empowers you to effortlessly plan and manage all aspects of your workout routine, including gym sessions, classes, and personal training appointments. Bid farewell to the frustration of scheduling conflicts as you navigate through available time slots and receive instant confirmations. This intuitive tool not only streamlines your fitness schedule but also provides the flexibility to adapt your plan to your dynamic lifestyle. Make every minute count, maximize your gym membership, and take control of your fitness journey with our innovative scheduling solution. Elevate your gym experience – because your time matters.</p>
      </div>
    </div>
  </body>
<html>
{% endblock %}