{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <title>FitSync - Features</title>
      <meta charset="utf-8">
      {% include "navbar/navbar_head.html" %}
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type='text/css' href={% static "css/features.css" %}>
  </head>
  <body>
    {% include "navbar/navbar.html" %}
    <div id="heroImage">
      <div id="heroText">
        <h1>Features</h1>
      </div>
    </div>
    <div class="row shadow p-3 mb-5 bg-body rounded" id="calendar">
      <div class="col-md-5">
        <h2>Calendar</h2>
        <p>
          Unleash the power of our gym software's Calendar feature! Effortlessly plan and manage your workouts, classes, and personal training sessions in one convenient place. Set goals, track progress, and receive timely reminders to stay on top of your fitness routine. With a user-friendly interface, our Calendar ensures you never miss a beat, making your gym experience more organized and efficient. Elevate your fitness journey and take control of your schedule with our innovative Calendar feature.</p>
      </div>
      <div class="col-md-7 videodiv">
        <video loop autoplay muted>
          <source src={% static "video/calendar_video.mp4" %} type="video/mp4">
        </video>
      </div>
    </div>
    <div class="row shadow p-3 mb-5 bg-body rounded" id="scheduling">
      <div class="col-md-7 videodiv">
        <video loop autoplay muted>
          <source src={% static "video/scheduling_video.mp4" %} type="video/mp4">
        </video>
      </div>
      <div class="col-md-5">
        <h2>Scheduling</h2>
        <p>
          Enhance your fitness journey with our new gym software scheduling feature. Effortlessly plan and manage workouts, classes, and personal training. Say goodbye to scheduling conflicts, navigate time slots easily, and receive instant confirmations. Our intuitive tool maximizes your gym membership, adapting to your dynamic lifestyle. Take control of your fitness journey with our innovative scheduling solution. Your time matters – elevate your gym experience.</p>
      </div>
    </div>
    <div id="footer">
      <div id="footerText">
        <p>FitSync</p>
        <p>© 2023 FitSync, Inc. All rights reserved.</p>
      </div>
    </div>
  </body>
</html>