{% extends "navbar.html" %}
{% load static %}
{% block content%}
<!DOCTYPE html>
<html lang="en">
   <head>
      <title>FitSync - Features</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type='text/css' href={% static "css/goals.css" %}>
    </head>
    <body>
        <div id="heroImage">
            <div id="heroText">
                <h1>Goals</h1>
            </div>
        </div>
        <div class="row shadow p-3 mb-5 bg-body rounded">
            <div class="col-md-5">
                <h2>Efficient Class Scheduling:</h2>
                <p>This gym scheduling app aims to streamline fitness class management. Its intuitive interface enables staff to easily create and manage classes, optimizing resource allocation and meeting member demand. Real-time updates and automated waitlist management ensure members have seamless access to desired classes, with added integration for efficient instructor scheduling.</p>
            </div>
            <div class="col-md-7" id="photodiv">
                <img src={% static "images/features.jpg" %} class="card-img" alt="features">
            </div>
        </div>
        <div class="row shadow p-3 mb-5 bg-body rounded">
            <div class="col-md-5">
                <h2>Member Engagement and Retention</h2>
                <p>Focused on enhancing member satisfaction and retention, this app provides personalized class recommendations based on individual goals. In-app communication fosters community-building, allowing members to connect, form workout groups, and support each other. Loyalty programs and social media integration incentivize consistent attendance, contributing to a more engaging and interactive fitness community.</p>
            </div>
            <div class="col-md-7" id="photodiv">
                <img src={% static "images/goals.jpg" %} class="card-img" alt="features">
            </div>
        </div>
        <div class="row shadow p-3 mb-5 bg-body rounded">
            <div class="col-md-5">
                <h2>Resource Optimization and Analytics</h2>
                <p>Prioritizing operational efficiency, this app employs data-driven insights for resource optimization. An analytics dashboard tracks class attendance, peak usage, and popular classes, empowering administrators to make informed decisions. Forecasting tools enable proactive resource allocation, and reporting features evaluate marketing success, class popularity, and member engagement, facilitating strategic improvements in gym resource management.</p>
            </div>
            <div class="col-md-7" id="photodiv">
                <img src={% static "images/aboutus.jpg" %} class="card-img" alt="about us card">
            </div>
        </div>
        <div id="footer">
            <div id="footerText">
                <p>FitSync</p>
                <p>© 2023 FitSync, Inc. All rights reserved.</p>
            </div>
        </div>
    </body>
<html>
{% endblock %}