{% extends "navbar.html" %}
{% load static %}
{% block content%}
<!DOCTYPE html>
<html>
    <head>
        <title>FitSync</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type='text/css' href="/static/css/home.css">
    </head>
      <body>
        
        
        <div id="heroImage">
          <div id="heroTextContainer">
            <h1 id="heroText">FitSync</h1>
            <h2 id="heroSubText">A fitness app that helps you stay connected</h2>
            <a type="button" class="btn btn-primary btn-lg" id="heroButton" role="button" aria-pressed="true" href="accounts/signup">Get Started</a>
          </div>
        </div>
        <div class="row" id="appFeaturesSection">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card">
            <img src="static/images/aboutus.jpg" class="card-img-top" alt="about us card">
            <div class="card-body">
              <h5 class="card-title">About Us</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>

        <div id="footer">
          <div id="footerText">
            <p>FitSync</p>
            <p>© 2023 FitSync, Inc. All rights reserved.</p>
          </div>
    </body>
</html>
{% endblock %}