{% extends "dashboard_navbar.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type='text/css' href={% static "css/schedule.css" %}>
    <title>Bootstrap Example</title>
  </head>
  <body>
    <h1 id="text_heading">Schedule Lesson</h1>
    <div class="row">
      <form method="POST" id="add_lesson_form" action="" class="col-md-4">
        {% csrf_token %}
        
        <div class="input-group">
          <div class="input-group-text">@</div>
          <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="Username" name="created_for_user" required>
        </div>

        <select name="type_of_lesson" class="form-select" aria-label="Default select example" required>
          <option value="Gym Training">Gym Training</option>
          <option value="Outside Training">Outside Training</option>
          <option value="Online Lesson">Online Lesson</option>
        </select>
        <input type="datetime-local" name="time_of_lesson" class="form-control" required>
        <div class="input-group">
          <div class="input-group-text">£</div>
          <input type="number" class="form-control" name="price_of_lesson" placeholder="Price" required>
        </div>
        <button type="submit" name="submit" class="btn btn-primary" id="create_lesson_btn">Add+</button>
      </form>
      
      <div id="calendar" class="col-md-8">
        <p>{{ dashboard_error }}</p>
        {% for q in query %}
        <div class="dashboard_calendar_item row row-cols-md-2" href="#">
          <p id="calendarUsername">@{{ q.student }}</p> 
          <p id="calendarTimestamp">{{ q.timestamp }}</p>
          <div id="calendarLessonExtra">
            <h1>£{{ q.price }}</h1>
            <p>Lesson Type: {{ q.lesson_type }}</p>
          </div>
          <div class="dropdown" id="calendarEdit">
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              More
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href={% url "editlesson" q.id%}>Edit</a></li>
              <li><a class="dropdown-item" href={% url "deletelesson" q.id %}>Delete</a></li>
            </ul>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
    {% endblock %}
</html>