{% extends "dashboard_navbar.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>FitSync - Student Dashboard</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type='text/css' href={% static "css/student_dashboard.css" %}>
    </head>
    <body>
        <div class="row">
            <div class="col-md-7">
                <div id="calendar_title">
                    <h1>Calendar</h1>
                </div>
                <div class="card rounded" id="dashboard_calendar">
                    {% if dashboard_error %}
                    <p id="EmptyCalendar">{{dashboard_error}}</p>
                    {% endif %}
                    {% for q in query.all|slice:"0:3" %}
                    <div data-bs-toggle="collapse" href="#{{ q.id }}" role="button" aria-expanded="false" aria-controls="collapseExample" id="dashboard_calendar_item">
                        <h2 class="fs-3">@{{ q.trainer }}</h2>
                        <h3 class="fs-4">{{ q.timestamp }}</h3>
                    </div>
                    <div class="collapse calendar_dropdown" id="{{ q.id }}">
                        <div class="card card-body">
                            <p>Trainer: @{{q.trainer}}</p>
                            <p>Lesson Type: {{q.lesson_type}}</p>
                            <p>Time and date: {{q.timestamp}}</p>
                            <p>Price: {{q.price}}</p>
                            <p>Status: {{q.status}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-5">
                <h1>Incoming Lessons</h1>
                <div class="card rounded" id="incoming_lessons">
                    {% if incoming_error %}
                    <p id="EmptyCalendar">Incoming Lessons will be here</p>
                    {% endif %}
                    {% for q in incominglessons.all|slice:"0:3" %}
                    <div  class="incoming_box" id="dashboard_calendar_item">
                        <h2 class="fs-3" data-bs-toggle="collapse" href="#{{ q.id }}" role="button" aria-expanded="false" aria-controls="collapseExample">@{{ q.trainer }}</h2>
                        <div id="accept_box">
                            <a type="button" href={% url "acceptlesson" q.id%} class="btn btn-outline-success">Accept</a>
                            <a type="button" href={% url "cancellesson" q.id %} class="btn btn-outline-danger">Cancel</a>
                        </div>
                    </div>
                    <div class="collapse calendar_dropdown" id="{{ q.id }}">
                        <div class="card card-body">
                            <p>Trainer: @{{q.trainer}}</p>
                            <p>Lesson Type: {{q.lesson_type}}</p>
                            <p>Time and date: {{q.timestamp}}</p>
                            <p>Price: {{q.price}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
{% endblock %}