{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FitSync - Update Lesson</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "navbar/dashboard_navbar_head.html" %}
    <script  src="https://momentjs.com/downloads/moment.js"></script>
    <link rel="stylesheet" href="{% static 'css/update_lesson.css' %}">
  </head>
  <body>
    {% include "navbar/dashboard_navbar.html" %}
    <div class="container" id="updatecontainer">
      <h1>Update Lesson</h1>
      <form method="POST" id="add_lesson_form" action="">
          {% csrf_token %}
          {% if error %}
          <div class="alert alert-danger" role="alert">
            {{error}}
          </div>
          {% endif %}
          <div class="input-group">
            <div class="input-group-text">@</div>
            <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="Username" name="created_for_user" value={{edit_lesson.student}} required>
          </div>
          <div>
            <select name="type_of_lesson" class="form-select" aria-label="Default select example" required>
              <option value="Gym Training">Gym Training</option>
              <option value="Outside Training">Outside Training</option>
              <option value="Online Lesson">Online Lesson</option>
            </select>
          </div>
          <div>
            <input type="datetime-local" name="time_of_lesson" class="form-control" id="dateInput" min="" value="" required>
          </div>
          <div class="input-group">
            <div class="input-group-text">£</div>
            <input type="number" class="form-control" name="price_of_lesson" placeholder="Price" value={{edit_lesson.price}} min="0" required>
          </div>
          <button type="submit" name="submit" class="btn btn-primary" id="savebutton">Save</button>
      </form>
    </div>
    <script>
      const time = '{{edit_lesson.timestamp.hour}}:{{edit_lesson.timestamp.minute}}';
      const formattedTime = moment(time, 'hh:mm A').format('HH:mm');
      const inputDate = '{{edit_lesson.timestamp.year}}-{{edit_lesson.timestamp.month}}-{{edit_lesson.timestamp.day}}T' + formattedTime;
      const today = new Date().toISOString().slice(0, 16);
      document.getElementById('dateInput').min = today;
      document.getElementById('dateInput').value = inputDate;
    </script>
  </body>
</html>